body {
    margin: 0;
    padding: 0;
    background: #333;
}

.container {
    text-align: center;
    margin-top: 10px; 
}

.img {
    width: 240px;
    height: 400px;
    background: black;
    display: inline-block;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 2s;
}

.img:hover {
    background-position: center bottom;
}

.img1 {
   background-image: url(i1.jpg);
}

.img2 {
    background-image: url(i2.jpg);
}

.img3 {
    background-image: url(i3.jpg);
}